################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAttendance/.vs/StudentAttendance/FileContentIndex/071ce694-399b-43ec-ba8a-6f97d6fd092f.vsidx
/StudentAttendance/.vs/StudentAttendance/ColorByRegexConfig.txt
/StudentAttendance/.vs/StudentAttendance/v17/DocumentLayout.json
/StudentAttendance/.vs/StudentAttendance/v17/.suo
