################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAttendance/.vs/StudentAttendance/FileContentIndex/071ce694-399b-43ec-ba8a-6f97d6fd092f.vsidx
/StudentAttendance/.vs/StudentAttendance/ColorByRegexConfig.txt
/StudentAttendance/.vs/StudentAttendance/v17/DocumentLayout.json
/StudentAttendance/.vs/StudentAttendance/v17/.suo
/StudentAttendance/.vs/StudentAttendance/FileContentIndex/bbbf2303-e259-436b-906b-b61aff60405a.vsidx
/StudentAttendance/.vs/StudentAttendance/FileContentIndex/c1241553-016b-46ac-81d1-976b1d602685.vsidx
