################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAttendance/.vs/StudentAttendance/FileContentIndex/071ce694-399b-43ec-ba8a-6f97d6fd092f.vsidx
/StudentAttendance/.vs/StudentAttendance/ColorByRegexConfig.txt
/StudentAttendance/.vs/StudentAttendance/v17/DocumentLayout.json
/StudentAttendance/.vs/StudentAttendance/v17/.suo
/StudentAttendance/.vs/StudentAttendance/FileContentIndex/b479b467-ae73-435a-a474-ba9f744c0f09.vsidx
/StudentAttendance/.vs/StudentAttendance/FileContentIndex/fc47ff9d-71c5-404c-a38b-bec276d31ab0.vsidx
